Body {
  background-color: #edede9;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.card {
  background-color: #fff;
  width: 250px;
  margin: 35px;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 15px;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  text-align: left;
}


.card p, h3 {
  margin-left: 25px;
  margin-right: 25px;
}

.flag-img {
  border-bottom: 1px solid lightgrey;
  width: 250px;
  height: 150px;
  object-fit: cover;
}


